
//- link(rel='stylesheet', type='text/css', href='font-awesome/css/font-awesome.min.css')
// build:js scripts/all.js
script(src='scripts/all.js')
// endbuild

script(type='text/javascript', src='js/jquery-1.10.2.min.js')
script(type='text/javascript', src='bootstrap/js/bootstrap.min.js')

  // Contact with Map - START

#map1.map
script(src='http://maps.google.com/maps/api/js?')
script(type='text/javascript').
  jQuery(function ($) {
  function init_map1() {
  var myLocation = new google.maps.LatLng(59.3234185,17.9356108);
  var mapOptions = {
  center: myLocation,
  zoom: 14
  };
  var marker = new google.maps.Marker({
  position: myLocation,
  title: "Sical Mollare AB Location"
  });
  var map = new google.maps.Map(document.getElementById("map1"),
  mapOptions);
  marker.setMap(map);
  }
  init_map1();
  });
style.
  .map {
  min-width: 300px;
  min-height: 300px;
  width: 100%;
  height: 100%;
  }

  // Contact with Map - END
